.form-main-container {
    width: 70%;
    margin: auto;
    padding: 30px 25px 0;
}

.grid-row-2c {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-colum-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
}

.grid-colum {
    margin: 5px 0;
}

.submit-class {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.danger-class {
    color: rgba(161, 14, 14, 0.788);
}