<div class="main-container">
    <div>
        <div class="header-form">
            <div class="header-img">
                <img class="img-fifa-format" src="../../assets/img/logo_qatar.png" alt="log-fifa">
            </div>
            <div class="header-title">
                <h1>GANA ENTRADAS PARA VER LA FASE DE CUARTOS</h1>
            </div>
            <div></div>
        </div>
        <div class="body-container">
            <div>
              <app-forms></app-forms>
            </div>
            <div class="img-container">
              <img class="img-pets" src="../../assets/img/La-eeb.jpg" alt="mascota-fifa">
            </div>
        </div>
    </div>
</div>
