.main-container{
    margin: 60px auto;
    padding: 20px;
    width: 70vw;
    height: 80vh;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-form {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.header-img {
    margin: auto;
}

.header-title{
    margin: auto;
    font-family: 'Qatar2022', sans-serif;
} 

.img-fifa-format {
    width: 120px;
}

.img-pets {
    object-fit: cover;
    width: 50vh;
    position: relative;
    margin: auto;
}

.body-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.img-container {
    margin-left: auto;
    padding-right: 25px;
}